html, body {
    width:100%;
    margin:0;
    padding:0;
    min-height: 100vh;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #bfbfbf;
  background-size: cover;
  overflow-y: scroll;
  flex-direction: column;
  height: 100%;
}

header {
  background: linear-gradient(to right, #fd3ae1, #3a3ffd);
  height: calc(160/1080 * 100vh);
  display: flex;
  align-items: center;
}

.headercontent {
  margin-left: calc(240/1920 * 100vw);
  margin-right: calc(400/1920 * 100vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

.eventOrgs {
  display: flex;
  align-items: end;
  gap: calc(20/1920 * 100vw);
}

.svg-container {
  height: (80/1920 * 100vh);
  display: flex;
  align-items: center;
}

#svg1 {
  left: calc(240/1920 * 100vw);
  height: 100%;
  width: auto;
}

#svg1 object {
  height: calc(80/1080 * 100vh);
  width: auto;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

#svg2 {
  left: calc(440/1920 * 100vw);
  height: 100%;
  width: auto;
}

#svg2 object {
  height: calc(80/1080 * 100vh);
  width: auto;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

#plus {
  font-size: calc(60/1080 * 100vh);
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#team {
  color: white;
  font-size: calc(30/1080 * 100vh);
  height: auto;
  width: auto;
  font-weight: bold;
  align-self: flex-end;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #bfbfbf;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  min-height: calc(920/1080 * 100vh);
  background: white;
  width: calc(1120/1920 * 100vw);
  justify-content:flex-start;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  margin: calc(80/1080 * 100vh) auto calc(40/1080 * 100vh);
  font-size: calc(50/1080 * 100vh);
  text-align: center;
}

.form-switch {
  margin-top: calc(60/1080 * 100vh);
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  color: black;
}

.switch-btn {
  margin: 0;
  width: calc(320/1920 * 100vw);
  height: calc(80/1080 * 100vh);
  justify-content: center;
  background-color: #ddd;
  font-weight: bold;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-btn.active {
  background-color: #bfbfbf;
}

input[type="file"], button {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
}

#predictForm {
  display: block; 
  margin: calc(30/1080 * 100vh) calc(240/1920 * 100vw) 0;
  height: auto;
  width: calc(640/1920 * 100vw);
  
}

#dropZone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #fedbf9;
  border: 2px dashed #939393;
  height: calc(480/1080 * 100vh);
  width: calc(640/1920 * 100vw);
  cursor: pointer;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

#dropZoneStatus {
  padding: 0;
  text-align: center;
  font-size: calc(30/1080 * 100vh);
}

#fileName {
  padding: 0.5em;
  text-align: center;
  font-size: calc(20/1080 * 100vh);
  text-emphasis-color: #464646;
}

#dropZone.dragover {
  background-color: #979afd;
  border-color: #383838;
  color: black;
}

#dropZone input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#fileInput {
  height: calc(400/1080 * 100vh);
  width: (640/1920 * 100vw);
  margin: 0;
  padding: 0;
}

#formZone {
  display: none;
  flex-direction: column;
  gap: 15px;
}

#formInput {
  display: none;
  flex-direction: column;
  gap: 15px;
}

#errorDiv {
  display: flex;
  align-content: center;
  justify-content: center;
}

#result {    
  display: none;
  text-align: center;
  align-content: center;
  padding-top: calc(60/1080 * 100vh);
}

#resultButtonsDiv {
  display: grid;
  
  grid-template-columns: 3fr 2fr 1fr 8fr 8fr 6fr;
  width: 100%;
  align-items: center;
}

#back {
  grid-column: 2/3;
}

.backButton {
  margin: 0;
  border: none;
  padding: 0;
  width: calc(80/1080 * 100vh);
  height: calc(80/1080 * 100vh);
  align-items: center;
  justify-items: center;
  cursor: pointer;
  background-color: #d9d9d9;
  transition: background-color 0.3s;
}

.backButton img {
  padding-top: 10%;
  padding-right: 10%;
  margin: 0;
  border: 0;
  width: 50%;
}

.backButton.active {
  background-color: #a1a1a1;
}

.exportButton {
  margin: 0;
  padding: 0;
  width: calc(320/1920 * 100vw);
  height: calc(80/1080 * 100vh);
  justify-content: center;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
  font-weight: bold;
  font-size: calc(20/1080 * 100vh);
}

#exportCsvButton {
  background-color: #fd3ae1;
  grid-column: 4/5;
}

#exportJsonButton {
  background-color: #3a3ffd;
  grid-column: 5/6;
}

#resultTableDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: calc(640/1920 * 100vw);
  height: 100%;
  margin: calc(30/1080 * 100vh) auto;
}

#resultTable {
  width: 100%;
  border: 1px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  align-items: center;
}

th, td, tr {
  border: 1px solid #000000;
  padding: 8px;
  font-size: 10px;
}

th {
  background-color: #d9d9d9;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Белый */
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Светло-серый */
}

/* Убираем спиннеры (стрелочки) в разных браузерах */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}